PORT=3000

# Counsellor 1 Calendly Settings
CALENDLY_API_TOKEN_1=your_token_1_here
CALENDLY_URL_1=https://calendly.com/harshraj1603/15-minute-consultation

# Counsellor 2 Calendly Settings
CALENDLY_API_TOKEN_2=your_token_2_here
CALENDLY_URL_2=https://calendly.com/another_user/15-minute-consultation

# Timezone offset for slot determination (e.g. +05:30 for Indian Standard Time)
CALENDLY_TIMEZONE_OFFSET=+05:30
